.bio-container{
    @media screen and (max-width: 1300px) {
        display: none;
    }
   width: 400px;
   position: sticky;
   top: 100px;
   justify-content: center;
   align-self: flex-start;
   color: white;
   border-radius: 20px;
   padding: 19px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   background-color: #333;
}

.bio-pic {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    
}

.about-contact{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

    a{
    text-decoration: none;
    }

    .bio-link{
        color: white;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: #F99D77;
            transition: all 0.2s ease-in-out;
        }

    }
    

}

.bio-name{
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
}

.bio-desc{
    margin-top: 15px;
}
.social-media-icons{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);

    .social-media-icon{
        width: 50px;
    }
}
