.bio-container{
    @media screen and (max-width: 1450px) {
        display: none
    }
   width: 30%;
   position: sticky;
   top: 100px;
   justify-content: center;
   align-self: flex-start

}

.bio-pic {
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    margin: auto;
    display: block;
    
}

.about-contact{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

    a{
    text-decoration: none;
    }

    .bio-link{
        color: black;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: #F99D77;
            transition: all 0.2s ease-in-out;
        }

    }
    

}

.bio-name{
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
}

.bio-desc{
    margin-top: 15px;
}
.social-media-icons{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 40px;

    .social-media-icon{
        width: 50px;
    }
}
