.blog-feed-home{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;    
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
    column-gap: 1%;
    row-gap: 10px;

    @media screen and (max-width: 1000px) {
        row-gap: 5px;
        column-gap: 5px;
        width: 95%;
    }
}

.blog-item {
 
    margin-bottom: 0px;
    color: white;
    flex: 2 2 25%;
    @media screen and (max-width: 1000px) {
        flex: 2 2 40%;
    }
    @media screen and (max-width: 799px){
        flex: 2 2 100%;

    }


    &:not(:hover){
        .contents{
    opacity: 0;        }
    }

    &:hover{
        .post-caption{
            height: 110px;
        }
            .home-image{
            scale: 1.1;
            opacity: 0.5;
        }

        .contents{
            opacity: 1;
        }
        
    }

    
}

.home-image{
    height: 20vw;
    margin-bottom: 0px;

    @media screen and (max-width: 1000px) {
        height: 50vw;
    }
    @media screen and (max-width: 799px){
        height: 70vw;

    }
    
}



.title-container{
    transition: all 0.2s ease-in-out;

}



.home-image{
    transition: all 0.3s ease;
}



.home-image-container{
    overflow: hidden;
    
}

.post-caption-container{
    width: 100%;
    position: relative;


    .post-caption{
        background: rgba(0,0,0,.75);
        position: absolute;
        width: inherit;
        height: 80px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: white;

        .blog-title{
            text-decoration: none;
            margin-bottom: 3px;
            transition: all 0.2s ease-in-out;
            font-size: 1.2rem;
            margin-top: 10px;
        }
        .date{
            font-size: 0.75rem;
            margin-bottom: 8px;
        }
        .contents{
            font-size: 0.7rem;
            padding-left: 10px;
            padding-right: 10px;
            transition: all 0.3s ease-in-out;

        }
        }
    }




.blog-feed{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 40%;
    flex-shrink: 0;
    
    @media screen and (max-width: 1450px) {
        width: 70%;
    }

    .blog-item {
        width: 100%;
        flex: 1;
        &:hover{
            .post-caption{
                height: 110px;
            }
        }
    }

    .home-image{
        height: 30em;
        width: 100%;
    }

}