@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;

}

body{
    background-image: linear-gradient(#6F8A9D, #36454F);
    // background-color: #36454F;

}


.layout {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    
    .header{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        opacity: 1;
        background-color: #6F8A9F;
        font-weight: 900;

        .dropdown-icon {
            width: 30px;
            display: block;
            margin: 0.3em 0 0 1em;
            z-index: inherit;

            div{ 
                height: 4px;
                background-color: white;
                margin: 3px 0;
                border-radius: 25px;
                transition: 0.3s ease;
                float: right;
 
            }
            .menu-line-one{
                width: 30px;
            }
            .menu-line-two{
                width: 20px;
            }
            .menu-line-three{
                width: 25px;
            }

            &:hover{
                cursor: pointer;
            }

            &:hover div{
                width: 30px;
            }

            
            @media screen and (min-width: 1251px) {
                display: none;
            }
        }


        .dropdown-icon.dropdown-icon-clicked .menu-line-two{
        transform: translateX(-50px);
        background: transparent;
        }
        .dropdown-icon.dropdown-icon-clicked .menu-line-one{
            transform: rotate(45deg) translateY(14px);
            }
            .dropdown-icon.dropdown-icon-clicked .menu-line-three{
                transform: rotate(-45deg) translateY(-14px);
                width: 30px;
                }


        

        .home-link {
            z-index: 999;

            .home-title{
                font-size: 3rem;
                display: inline-block;
                color: white;
                position: relative;
                z-index: 999;
                @media screen and (max-width: 1250px){
                    font-size: 2em;                
                }
            }

        }
        .header-links{
            display: flex;
            padding-right: 40px;
            list-style: none;
            gap: 40px;
            font-size: 1.1rem;
            justify-content: center;
            align-content: center;
            z-index: 999;
            height: 30px;
            margin-top: 10px;
            
            

            
            

            .header-link{
                color: white;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                text-decoration: none;
                padding-left: 20px;
                padding-right: 20px;
                height: 30px;
                margin-top: 5px;
            }
        
            .first-link.second-link.third-link{
                
                box-shadow: inset 0 0 0 0 rgba(240, 169, 138, 0.8);
                
                &:hover{
                    color: #fff;
                }
                
            }

            .first-link:hover{
                box-shadow: inset 0 -50px 0 0 rgba(249, 157, 119, 0.8), 0 -7px 0 #36454F;
                transition: all ease 0.7s;   
                
            }

            .second-link:hover{
                box-shadow: inset 0 -50px 0 0 rgba(191, 210, 246, 0.8), 0 -7px 0 #36454F;
                transition: all ease 0.7s;      
            }

            .third-link:hover{
                box-shadow: inset 0 -50px 0 0 rgba(252, 223, 106, 0.8), 0 -7px 0 #36454F;
                transition: all ease 0.7s;  
            }

           
        }

        .dropdown-links{
            position: absolute;
   
            min-width: 60px;
            
            width: 10%;

            margin-top: 41.5px;
            height: 55px;
            line-height: 25px;
            transition: all ease 0.4s;
            padding-top: 5px;
            padding-left: 0;
            overflow: hidden;
            background-color: #6F8A9F;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            text-align: center;
            border-style: solid;
            border-width: 0 0.5px 0.5px 0.5px;
            border-color: #566F7F;
            right: 15%;

            a {li{
                padding-left: 27px;
                background-color: none;
                transition: all ease 0.4s;

                &:hover{
                    background-color: #36454F;
                }
            }}

            .first-link {li{
                margin-top: 10px;
            }
            }

            .header-link{
                color: white;
                list-style: none;
                text-decoration: none;
                transition: all ease 0.3s;

                &:hover {
                    color:rgba(249, 157, 119, 0.8);

                }

                
            }

        }
        }



    .footer{
        margin-top: 60px;
        text-align: center;
        margin-bottom: 20px;
        color: white;
        padding-bottom: 27px;

    }

}