.home-container{
    font-family: 'DM Sans', sans-serif;
    height: 100%;

    .home-inner{
      display: flex;
      align-items: stretch;
      flex-direction: column;
      @media screen and (max-width: 799px){
        height: 650px;

    }
        }


    // }

    .carousel{
        height: 700px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        
        @media screen and (max-width: 1250px) and (min-width: 800px) {
            height: 500px;
        }

        @media screen and (max-width: 799px){
            height: 650px;

        }
    }
    
    .carousel-root {
        z-index: -999;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 1160px;
        @media screen and (max-width: 1250px) and (min-width: 800px) {
            width: 750px;
        }
        @media screen and (max-width: 799px){
            width: 95%;
        }

    }

    .home-post-title{
      padding: 2rem;
        font-size: 2.2rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: white;
 
    }

    .long-title{
        width: 100%;
        display: inline-block; /* important */
        white-space: nowrap;
        overflow: hidden;
        color: white;

        span{
          padding-left: 0;
        }
        
        &:not(:hover) {
            text-overflow: ellipsis;
          }
        &:hover,
        &:focus {
          span {
            display: inline-block;
            animation-name: scroll-text;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            color: white;
            /* FYI this would be the shorthand:
              animation: scroll-text 5s ease 0s 2 normal;
            */
          }
          &:not(:hover) {
            text-overflow: ellipsis;
          }
        }
        @keyframes scroll-text {
            0% {
              transform: translateX(0%);
            }
            90% {
              transform: translateX(-20%);
            }
            95% {
              transform: translateX(0%);
            }
            100% {
              transform: translateX(0%);
            }
          }
    }

    .one-line {
        width: 100%;
        display: inline-block; /* important */
        white-space: nowrap;
        overflow: hidden;
        color: white;
        margin-bottom: 20px;
      }
      

    .blog-title-shape{
        aspect-ratio: 1 / 1;
        max-width: 230px;
        max-height: 230px;
        position: absolute;
        border-radius: 50%;
        margin-top: 50px;
        margin-left: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        opacity: 0.95;
        padding: 10px;
        z-index: 999;

        @media screen and (max-width: 1250px) and (min-width: 800px) {
            margin-top: 260px;

        }
        @media screen and (max-width: 799px){
            display: none;
        }
        
    }

    .home-image {
        margin: 0;
        top: 0;
        z-index: -1;
        width: 105%;
        height: 105%;
        @media screen and (max-width: 555px){
            height: 50%;
        }
 
    }

    .home-image-double{
      bottom: 0;
    height: 250px;
    opacity: 0.2;
    position: absolute;

@media screen and (min-width: 799px){
  display: none;


}
    }

    .home-carousel-line{
      height: 5px;
      width: 40px;
      background-color: black;
      opacity: 0.8;
      z-index: 999;
      margin: 20px 0;
      // margin: 10px 60px 10px 0;
    }

    .carousel-excerpt{
      font-size: 18px;
      color: white;
      width: 85%;
            }
        

    .carousel-color-block{
      width: 100%;
      opacity: 0.8;
      z-index: 998;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .colour-block-title{
        font-size: 28px;
      }

   
      :first-child{
        color: white;
        font-weight: 700;
      }
   
      
        @media screen and (min-width: 800px){
       display: none;
        }
    }

    .carousel-color-0{
      background-color: #4D7EA8;
    }

    .carousel-color-1{
      background-color: #9E90A2;
    }

    .carousel-color-2{
      background-color: #57886C;
    }

    .carousel-color-3{
      background-color: #494949;
    }

    .carousel-color-4{
      background-color: #D68C45;

    }

    .article-link{
      position: absolute;
      margin-top: 40px;

    

      // @media screen and (max-width: 800px){
      //   font-size: 15px;
      // }



   
  }
}

.blog-link{
    text-align: center;
    text-decoration: none;
    color: white;
     justify-content: center;
     display: flex;
     margin: 0;
     margin-top: 10px;
     margin-bottom: 40px;
            

    h3{
        transition: all 0.2s ease-in-out;
        display: inline-block;
        color: #333;
        &:hover {
        color: #264653;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        }
    }

}

.read-article{
  text-decoration: none;
  color: white;
  font-family: 'DM Sans', sans-serif;
  display: inline-block;
  text-decoration: underline;
  font-size: 15px;


@media screen and (max-width: 799px){
  margin-top: 20px;
   }

.read-article-inner{
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-family: 'DM Sans', sans-serif;
  display: inline-block;
  text-decoration: underline;
  font-size: 15px;
}
}